
<!DOCTYPE html>
<html lang="en">

<title>
  Index
</title>

<body>

 <center>
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="reenter password "
                placeholder="Re-enter Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
 </center>

</body>

</html>